<nav class="menu">
  <p class="menu-label">Menu</p>
  <ul class="menu-list">
    <a routerLink="/home" routerLinkActive="router-link-active">
      <span>Home</span>
    </a>
    <a routerLink="/movies" routerLinkActive="router-link-active">
      <span>My Movies</span>
    </a>
    <a routerLink="/heroes" routerLinkActive="router-link-active">
      <span>Heroes</span>
    </a>
    <a routerLink="/villains" routerLinkActive="router-link-active">
      <span>Villains</span>
    </a>
  </ul>
</nav>
<nav class="menu auth">
  <p class="menu-label">Auth</p>
  <div class="menu-list auth">
    <a
      *ngIf="!loggedIn"
      routerLink="/signin"
      routerLinkActive="router-link-active"
    >
      <span>Sign in</span>
    </a>
    <a *ngIf="loggedIn" (click)="signout()">
      <span>Sign Out</span>
    </a>
  </div>
</nav>
<div class="user">
  <p>{{ message }}</p>
</div>
